/* MainDashboard.module.css */

body,
html {
    height: 100%;
    margin: 0;
    background-color: #F2F2F2;

}



.fullScreenDiv {
    height: 100vh; 
    width: 100vw; 
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
  } 
  


.dashboardContainer {
    display: flex;
    height: 100vh;
    flex-direction: row;
    margin-left: 10rem;
    background-color: #F2F2F2;

}

.sidebar {
    width: 15%;
    background-color: #FFFFFF;
    color: #474444;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .logo {
    text-align: center;
}

.sidebar .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu button {
    margin-bottom: 10px;
    padding: 10px 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #474444;
    transition: background-color 0.3s ease;
}

.menu button:hover {
    color: coral;
    box-shadow: 0 4px 8px rgb(153, 151, 151);
}

.sidebar .logout {
    text-align: center;
    border-top: 2px solid #000000;
    padding-top: 10px;
}

.logout button{
    margin-bottom: 10px;
    padding: 10px 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #474444;
    transition: background-color 0.3s ease;
}

.logout button:hover {
    color: coral;
    box-shadow: 0 4px 8px rgb(153, 151, 151);
}

.compRender {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    /* Add this line to include padding in width calculation */
}

.dashboardContent {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.analyticsContent {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.createQuizContent {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}