/* AnalyticsComponent.Style.module.css */

body{
  background-color: #EDEDED;
}

/* /////////// */
.tableWrapper {
  overflow-x: auto;
  max-height: 550px; 

  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.tableWrapper::-webkit-scrollbar {
  width: 1px; /* Adjust as needed */
}
/* /////////// */


.main {
  text-align: center;
  /* margin-left: 200px;  */

  /* overflow-x: auto;
  max-height: 400px;  */
}

.main h2 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}

.heading {
  color: #5076FF;
}

.table {
  width: 100%;
  border-collapse: collapse;
  width: 60rem;
  /* margin-top: 4rem; */
}

.thead {
  border-radius: 10px;
  overflow: hidden;
}

.tableHeader {
  background: #5076FF;
  color: white;
}

.tableHeader th {
  padding: 10px;
  color: white;
  padding: 10px;

}

.serialNumber {
  padding: 10px;
}

.table tbody tr:nth-child(even) {
  background: #B3C4FF;
}

table tbody tr td {
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.deleteIcon {
  cursor: pointer;
  color: red;
}

.editIcon {
  cursor: pointer;
  color: #854CFF;
}

.shareIcon {
  cursor: pointer;
  color: #60B84B;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay for the backdrop effect */
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmationDialog {
  height: 200px;
  width: 500px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.flexButton {
  display: flex;
  justify-content: space-around;
}

.paragraphDiv {
  padding: 0px 50px;
}

.paragraphDiv p {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
  color: #474444;
}

.confirmButton {
  background-color: #FF4B4B;
  color: #fff;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border: 1px solid #ff3300;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 10rem;
}

.confirmButton:hover {
  background-color: #ff3300;
  box-shadow: 0 4px 8px rgb(236, 142, 139);
}

.cancelButton {
  background-color: white;
  color: #474444;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border: 1px solid rgb(219, 216, 216);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 10rem;
}

.cancelButton:hover {
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgb(158, 178, 184);
}